{% extends 'website/base.html' %}
{% load staticfiles %}

{% block content %}
	<header class="success" id="signup">
		<div class="container">
            <div class="row">
                <h1>Sign Up</h1>
                <h3>Get started with UBook today. It's free!</h3>
            </div>
            <div class="row text-left col-lg-offset-2 col-lg-7">
                <form class="form-horizontal" action="{% url 'signup' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="username">Username</label>
                        <div class="col-sm-10">
                            <input class="form-control col-sm-10" id="username" name="username" type="text" maxlength="255" placeholder="Username" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="password">Password</label>
                        <div class="col-sm-10">
                            <input class="form-control col-sm-10" id="password" name="password" type="password" maxlength="255" placeholder="Password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="email">Email</label>
                        <div class="col-sm-10">
                            <input class="form-control col-sm-10" id="email" name="email" type="text" maxlength="255" placeholder="Email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="firstName">First Name</label>
                        <div class="col-sm-10">
                            <input class="form-control col-sm-10" id="firstName" name="firstName" type="text" maxlength="255" placeholder="First Name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="lastName">Last Name</label>
                        <div class="col-sm-10">
                            <input class="form-control col-sm-10" id="lastName" name="lastName" type="text" maxlength="255" placeholder="Last Name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="address">Address</label>
                        <div class="col-sm-10">
                            <input class="form-control col-sm-10" id="address" name="address" type="text" maxlength="255" placeholder="Address" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="city">City</label>
                        <div class="col-sm-10">
                            <input class="form-control col-sm-10" id="city" name="city" type="text" maxlength="255" placeholder="City" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="state">State</label>
                        <div class="col-sm-10">
                            <input class="form-control col-sm-10" id="state" name="state" type="text" maxlength="255" placeholder="State" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="zipcode">Zipcode</label>
                        <div class="col-sm-10">
                            <input class="form-control col-sm-10" id="zipcode" name="zipcode" type="text" maxlength="255" placeholder="Zipcode" />
                        </div>
                    </div>
                    <input type="submit" class="btn btn-info btn-lg col-sm-offset-7" value="Sign Up">
                </form>
            </div>
		</div>
	</header>
{% endblock %}